<div class="login-form__container">
  <form
    class="login-form"
    [formGroup]="form"
    class="login-form"
    (ngSubmit)="onSubmit()"
  >
    <h2>Login</h2>
    <mat-form-field appearance="fill">
      <mat-label>Enter your email</mat-label>
      <input
        name="email"
        matInput
        type="email"
        placeholder="your@mail.com"
        required
        autofocus
        formControlName="email"
      />
      <mat-error *ngIf="email.invalid">{{ getEmailErrorMessage() }}</mat-error>
    </mat-form-field>
    <br />
    <mat-form-field appearance="fill">
      <mat-label>Enter your password</mat-label>
      <input
        name="password"
        matInput
        type="password"
        required
        formControlName="password"
      />

      <mat-error *ngIf="password.invalid">{{
        getPasswordErrorMessage()
      }}</mat-error>
    </mat-form-field>
    <div>
      <button
        type="submit"
        mat-raised-button
        [disabled]="form.invalid"
        class="login-submit"
      >
        Login
      </button>
    </div>
  </form>
</div>
