<div class="search-filter__wrapper">
  <p class="search-filter__caption">Sorting by:</p>
  <a
    class="search-filter__name"
    (click)="sortByType('date')"
    [ngStyle]="{ textDecoration: typeSort === 'date' ? 'none' : 'underline' }"
  >
    date</a
  >
  <a
    class="search-filter__name"
    (click)="sortByType('count-views')"
    [ngStyle]="{
      textDecoration: typeSort === 'count-views' ? 'none' : 'underline'
    }"
  >
    count of views</a
  >
  <a
    class="search-filter__name"
    (click)="sortByType('word-or-sentence')"
    [ngStyle]="{
      textDecoration: typeSort === 'word-or-sentence' ? 'none' : 'undercase'
    }"
  >
    word or sentence</a
  >
  <input
    class="search-filter__input"
    [(ngModel)]="inputSearchFilter"
    (input)="onChangeInput()"
  />
</div>
