div {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: row;
  flex-wrap: wrap;

  min-width: 320px;
  max-width: 1200px;
  margin: 0 auto;

  background-color: #e0e0e0;
  padding: 20px;
}

.mat-spinner {
  position: fixed;
  top: 40vh;
  left: 50vw;
}
