.detailed-info {
  display: flex;
  align-items: flex-start;
  justify-content: center;
  flex-direction: row;

  margin-top: 50px;
}

button {
  border-bottom-right-radius: 0;
  border-bottom-left-radius: 0;
  border-width: 0;
}

.detailed-info__container-info {
  display: flex;
  justify-content: center;
  align-items: stretch;
  flex-direction: row;
  flex-wrap: wrap;

  width: 80vw;
  max-height: 70vh;

  background-color: #e5e5e5;
}

.detailed-info__image-container {
  margin-right: auto;
}
.detailed-info__image {
  width: 40vw;
}

.detailed-info__description-container {
  display: flex;
  flex-direction: column;
  width: 50%;
  max-height: inherit;
  overflow: auto;
  background-image: linear-gradient(to bottom right, #e5e5e5, #cecece);
}

.detailed-info__title {
  padding: 10px;
}

.detailed-info__description {
  padding: 10px;
  font-size: medium;
}

h3 {
  display: inline;
  font-weight: bold;
}

span {
  font-size: x-small;
  float: right;
}

h4 {
  font-weight: normal;
}

p {
  font-size: x-small;
  font-weight: lighter;
  line-height: 1em;
}

.detailed-info__statistics {
  display: flex;
  flex-direction: row;
  align-items: flex-end;
  justify-content: center;
  margin-top: auto;
  padding: 10px;
}

.detailed-info__statistic-panel {
  display: flex;
  justify-content: space-between;
  flex-direction: row;

  width: 210px;
  height: 20px;

  margin-top: 5px;

  .detailed-info__count {
    display: flex;
    align-items: center;
    justify-content: flex-start;
    padding-left: 20px;
  }
  .detailed-info__view-count {
    background: url("../../../../assets/icons/viewCount.svg") left no-repeat;
  }

  .detailed-info__like-count {
    background: url("../../../../assets/icons/likeCount.svg") left no-repeat;
  }

  .detailed-info__dislike-count {
    background: url("../../../../assets/icons/dislikeCount.svg") left no-repeat;
  }

  .detailed-info__comment-count {
    background: url("../../../../assets/icons/commentCount.svg") left no-repeat;
  }
}
